
.meeting-owner-name{
    margin-top: 50px;
    text-align: center;
    width: 100%;
}

.meeting{
    margin-top: 10px;
    text-align: center;
    width: 100%;
}
.txt-center {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.rating {
    float: left;
    border-style: none;
}

.rating:not(:checked) > input {
    position: absolute;
    top: -9999px;
    clip: rect(0, 0, 0, 0);
}

.rating:not(:checked) > label {
    float: right;
    width: 1em;
    padding: 0 .1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 450%;
    line-height: 1.2;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px #c60;
    font-size: 450% !important;
}

.rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label {
    color: gold;
}

.rating > input:checked + label:hover, .rating > input:checked + label:hover ~ label, .rating > input:checked ~ label:hover, .rating > input:checked ~ label:hover ~ label, .rating > label:hover ~ input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px goldenrod;
}

.rating > label:active {
    position: relative;
    top: 2px;
    left: 2px;
}

.comments {
    text-align: center;

}

.form-control {
    border: gray;
    border-style: groove;
    width: 500px;
    height: 200px;
}

.form-group {
    margin-top: 50px;
}